# Entorno virtual
.venv/
venv/

# Archivos de Python
__pycache__/
*.pyc

# Archivos de Flask-Session (¡IMPORTANTE!)
flask_session/

# Archivos de datos (¡Los de producción vivirán en el disco, no en el repo!)
# user.json
# products.json
# *.db

# Archivos de SO
.DS_Store